.cell-output-stdout pre code {
  background-color: #E8E8E8;
}

.live-code {
  background-color: #000;
  color: #fff;
}

.live-code h1 {
  color: #fff;
  text-shadow: 1px 1px 2px #1f5386;
  font-size: 3.5em;
}

.live-code h1:before {
    content: "";
    display: inline-block;
    background: url("../Live-code.png") no-repeat;
    width: 100px;
    height: 100px;
    float: left;
    background-size: 100px;
    padding-right: 50px;
}

.live-code .remark-inline-code {
  color: #fff;
}

.your-turn .remark-inline-code {
  color: #1f5386;
}
